* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar { width: 0px; }


*:focus {
	outline: none;
}

html {
	overflow: hidden;
}


html, body {
	font-family: 'Lora', serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background-color: #282C34;
	color: #ABB2BF;
	padding-bottom: 40px;
	padding-right: 10px;
	overflow-y: scroll;
	padding-left: 10px;
	padding-top: 20px;
	min-width: 800px;
	width: 100%;

	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition: all 600ms;
}

section {
	max-width: 800px;
	height: 100%;
	margin: auto;
}

article {
	padding-bottom: 50px;
	line-height: 30px;
	margin-top: 22px;
	min-height: 90%;
	font-size: 32px;
	display: block;
	word-wrap: break-word;
}
